 
img {
    width: 50px;
}

html {height: 100%;}
body {background-color: aquamarine;}


a{
    display: block;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: white;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 150px 130 px;
    color: black;
    text-decoration: none;
}


 
body {
    background-image: linear-gradient(to bottom right, #2ef1ff, #4cd7f0, #ffe6fd, rgb(255, 255, 255));
    font-family: monospace;
}


h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 15px;
}
div {
    margin: 20px 20px 20px 20px;
    display: flex;
  }
main{
    
    justify-content: center;
}
.mayor-div{
    display: flex;
    justify-content: center;
}
.text-div{
    display: inline;
}
  img {
    width: 600px;
    height: 600px;
    border-top-right-radius: 50px;
      }

      .flex-container {
        display: flex;
        justify-content: center;
       
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        padding: auto;
        line-height: 75px;
        font-size: 30px;
      }
 


.footer-main {
    background-image: linear-gradient(to bottom right, #2ef1ff, #4cd7f0, #ffe6fd, rgb(255, 255, 255));

}

.content1 {
    display: flex;
}

.heading-2 {
    font-size: 40px;
    padding: 0;
    margin: 50px 0 30px 50px ;
    display: flex;

}

img.img-1 {
    width: 500px;
    margin-left: 50px;
    display: flex;
    margin-bottom: 30px;
    border-radius: 5%;
}

h3.heading-3 {
    display: flex;

}

.info-1 h3 {
    font-size: 30px;
}

.info-1 {
    padding: 30px;
    margin: 7px 0 0 50px;

}

div.info-2 h3 {
    font-size: 30px;
    margin: 65px 0 10px 65px;
}

div.info-2 a {
    list-style: none;
}

.info-2 ul {
    list-style: none;
    margin-left: 25px;
}

.info-2 a {
    text-decoration: none;
    color: black;
}

.info-2 p {
    margin: 30px 50px 0 65px;

}

.final-1 p {
    display: flex;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;
    font-size: 20px;
    background-color: black;
    color: white;

}
 
body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-image: linear-gradient(to bottom right, #2ef1ff, #4cd7f0, #ffe6fd, rgb(255, 255, 255));  
}
 
.contenedor-uno{
    display: flex;
    justify-content: center;
}
.img-phone{
    border-top-right-radius: 100px;
    width: 500px;
}
.primer-titulo{
        padding-top: 60px;
        
        
}
.primer-parrafo{
    padding-top: 20px;
      font-size: 20px;
}
.contenedor-productos{
    display: flex;
    justify-content:space-around;
    padding:20px;
}
.contenedor-dos .compra {
    background-color: white;
    
}
.contenedor-dos img{
    width: 300px;
}
 main
